<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">

<style type="text/css">
#main_wrapper {
	width: 80%;
	margin: auto;
}

.listaLibros {
	display: block;
	width: 45%;
	float: left;
}

.formlibros {
	display: block;
	width: 45%;
	float: right;
}

/* .formlibros input[type=text] { */
/* 	width: 200px; */
/* } */

h1 {
	text-align: center;
	padding-bottom: 100px;
}
h2 {text-align: center;}
</style>
</head>
<body>
	<div id="main_wrapper">
		<h1>Libros disponibles</h1>

		<div class="listaLibros">
		<h2> Libros disponibles <h2>

			<table class="table">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nombre</th>
						<th scope="col">Precio</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="libro: ${libros}">
						<td th:text="${libro.id}" />
						<td th:text="${libro.name}" />
						<td th:text="${libro.price}" />
						<td><a class="btn btn-danger borrar"
							th:href="@{/borrarlibro/{id}(id=${libro.id})}"><i
								class="fas fa-trash"></i></a></a></td>
								<td><a class="btn btn-success borrar"
							th:href="@{/editarlibro/{id}(id=${libro.id})}"><i
								class="fas fa-edit"></i></a></a></td>
					</tr>
			</table>

			</tbody>
		</div>
		<div class="formLibros">
		<h2> Introducir nuevo Libro</h2>
			<form th:action="@{/nuevolibro}" method="post">
				<div class="form-group">
					<label for="nombre">Nombre:</label> <input class="form-control"
						type="text" name="nombre" size="40">
				</div>
				<div class="form-group">

					<label for="precio">Precio:</label> <input class="form-control"
						type="number" step="0.01" name="precio" min="1">
				</div>


				<input class="form-control btn btn-primary" type="submit" value="Crear Libro">
			</form>
		</div>
	</div>
</body>
</html>